<div class="frontpage-main-container">
<div class="title-header-container">
    <div class="animated-box">
        <ul class="animated-name">
            <li class="animated-name item-1">Lucas</li>
            <li class="animated-name item-2">卢卡斯</li>
            <li class="animated-name item-2">Λούκας</li>
            <li class="animated-name item-2">Lukáš</li>
            <li class="animated-name item-2">ルーカス</li>
            <li class="animated-name item-1">Lucas</li>
        </ul>
    </div>
    <h1 class=title-header> is a developer working on cool things. </h1>
</div>

<h2 class="main-heading">Notes</h2>
<div class="notes-container">
    $for(notes)$
    <a href="$it.link$" class="note-link">
        <div class="note-box">
            $it.note$
        </div>
    </a>
    $endfor$
</div>
</div>
